<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dragon.final_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_main"
        android:label="@string/fast_food"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dragon.final_app.activity.OrderHistory"></activity>
        <activity android:name="com.dragon.final_app.activity.OrderPlaced" />
        <activity android:name="com.dragon.final_app.activity.CartPageActivity" />
        <activity android:name="com.dragon.final_app.activity.RestaurantMenuActivity" />
        <activity android:name="com.dragon.final_app.activity.OtpActivity" />
        <activity android:name="com.dragon.final_app.activity.ForgotActivity" />
        <activity android:name="com.dragon.final_app.activity.RegisterActivity" />
        <activity android:name="com.dragon.final_app.activity.LoginIn" />
        <activity android:name="com.dragon.final_app.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dragon.final_app.activity.MainActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>